@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.curriculum-section {
    width: 100%;
    margin: 2rem 0rem;
}

.academics-curriculum-wrapper{
    width: 100%;
    padding: 0% 10%;
}

.curricular-container {
    padding: 1rem;
}

.curricular-container .curricular-heading{
    font-size: 2rem;
    color: #ff9a0b;
    font-weight: 900;
    margin-bottom: 1rem;
}

.curricular-container .curricular-des {
    color: #2D1D54;
    font-weight: 400;
    font-size: 1.2rem;   
}

.curricular-container .curricular-des li {
    list-style-type: none;
}

.academics-curriculum-wrapper .curr-divider {
    border: 1px dotted #2D1D54;
    border-radius: 2rem;
}