/* First Break-Point level :: 1300px  */
/* For Medium-size Laptops */

@media screen and (max-width: 1300px) {

    /* Section-One Starts here  */

    .nav-btn-container .enroll , .nav-btn-container .contact {
        display: none;
    }

}

/* Second Break-Point level :: 1100px  */
/* For Tablets & also for Smart-Phones */

@media screen and (max-width: 1100px) {

    /* Section-One Starts here  */
    /* Navbar Section starts here  */
    
    .navbar-wrapper {
        min-width: 100vw;
        min-height: 100vh;
        position: fixed;
        top: 90px;
        /* background-color: rgba(0, 255, 255, 0.76); */
        background-image: linear-gradient(to bottom, violet, AQUA, violet);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
        left: 100%;
        transition: all 0.3s ease;
        z-index: 999;
    }

    .navbar-wrapper ul {
        margin-top: 3rem;
    }

    .navbar-wrapper ul li {
        display: block;
        margin-bottom: 10px;
    }

    .navbar-wrapper a {
        padding: 0.2rem 0;
        text-align: left;
        display: flex;
        justify-content: flex-start;

    }

    .menu-btn-container {
        display: block;
        margin-right: 1rem;
    }

    .menu-close-container {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 1rem;
    }

    /* Navigation Buttons starts here  */

    .nav-btn-container .enroll, .nav-btn-container .contact {
        display: block;
        width: 10rem;
        display: flex;
        justify-content: center;
    }

    .nav-btn-container .logIn {
        position: absolute;
        top: 10px;
        display: flex;
        justify-content: center;
    }

    /* Submenus strts here  */

    .submenu, .submenu2 {
        z-index: 999;
        background-color: rgb(65, 245, 245);
    }

    .submenu {
        top: -5px;
    }

    .submenu2 {
        top: -48px;
        width: 120px;
    }

    .submenu a {
        padding: 10px 5px;
    }

    /* Section-Four Starts here (Division Section) */

    .division{
        width: 100%;
    }

    .division .intro-box {
        width: 48%;
    }

    .intro-box .intro {
        width: 100%;
    }
}

/* Third BreakPoint Level :: 900px */
/* For content Adjustment  */

@media screen and (max-width: 900px) {
    .division {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .division .intro-box {
        width: 85%;
    }

    .division .intro {
        height: 400px;
        margin-bottom: 1rem;
    }
}

/* Fourth BreakPoint Level :: 800 */

@media screen and (max-width: 800px) {

    /* Section Two starts here  */

    .hero-container .team,
    .hero-container .mission {
        font-size: 2.5rem;
    }

    .hero-container .know {
        font-size: 7rem;
    }

    /* Section Three starts here  */

    .sectionThree {
        max-width: 100%;
        height: 800px;
    }

    .community-container{
        padding: 0.5rem;
        flex-direction: column;
    }
    
    .community-container a{
        width: 100%;
        height: 23%;
        border: 2px solid pink;
        border-radius: 0.5rem;
        text-decoration: none;
    }

    .community-container .community {
        width: 100%;
        height: 100%;
        border: none;
    }

    .welcome-box {
        display: none;
    }

    /* Section-Four starts here  */

    .div-school-info .school-heading {
        font-size: 1.5rem;
    }

    .div-school-info .school-cap {
        font-size: 1rem;
    }

    /* Section-Five starts here  */

    .student-heading {
        font-size: 1.5rem;
    }

    .student-list-wrapper {
        width: 350px;
    }

    /* Section-Six Starts here (Footer Section) */

    .footer-container {
        padding: 1rem;
    }

    .footer-container .footer-division {
        width: 30%;
    }

    .footer .copyright {
        font-size: 1.1rem;
    }
}

/* Fifth Break-Point Level :: 640px  */
/* For Smart-Phones  */

@media screen and (max-width: 640px) {
    
    /* Section-One starts here  */

    
    
    .school-info .name {
        font-size: 1rem;
    }

    .school-info .affiliate {
        font-size: 0.7rem;
    }

    .navbar-wrapper {
        top: 71px;
    }

    /* Section-Two starts here  */

    .sectionTwo {
        height: 600px;
        background-image: linear-gradient(to bottom, violet, AQUA, violet);
    }

    .hero-container {
        top: 30%;
        left: 5%;
    }
 
    .hero-container .know{
        font-size: 4rem;
    }

    .hero-container .hero-button {
        background-color: #2D1D54;
        margin-left: 0;
    }

    /* Section-Three starts here (Comminity section)  */

    /* This is same as Break-Point :: 800px  */

    /* Section-Four starts here (Division Section) */

    .sectionFour {
        width: 100%;
        margin-top: 0;
        padding: 0.5rem;
    }

    .school-division {
        width: 100%;
        padding: 0;
    }

    .div-school-info .school-heading {
        font-size: 1.4rem;
    }

    .division {
        margin-top: 1rem;
    }

    .division .intro-box {
        width: 95%;
    }

    .division .intro {
        height: 200px;
    }

    /* Section-Five starts here (Student section) */

    .sectionFive {
        padding: 5px;
        /* background-color: red; */
    }

    .student-heading {
        font-size: 1rem;
        margin: 1rem 0rem;
    }

    .student-wrapper {
        gap: 0.5rem;
    }

    .arrow {
        width: 2.5rem;
        height: 2.5rem;
    }

    .arrow i {
        font-size: 1rem;
    }

    .student-list-wrapper .profile {
        gap: 5px;
        margin-left: 0px;
    }

    .profile .images {
        width: 250px;
    }
    
    /* Section-Six starts here (footer section) */
    
    .sectionSix {
        max-width: 100%;
    }
    
    .footer-container {
        flex-direction: column;
    }

    .footer-container .footer-division{
        width: 100%;
    }

    .links .link {
        font-size: 1.7rem;
    }

    .links ul {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .footer-logo{
        margin: 0.7rem 0rem;
    }

    .footer-logo .youtube-logo {
        width: 2.2rem;
    }

    .contact-box {
        margin-top: 0.7rem;
    }

    hr.ruler {
        width: 95%;
        margin: auto;
        border: 1px solid #ff9a0b;
    }

    .footer .copyright {
        padding: 1rem;
        font-size: 1rem;
    }

}

/* Sixth breakPoint level : 325px  */

@media screen and (max-width: 325px) {
    /* Section-Two starts here  */

    .sectionTwo .team, 
    .sectionTwo .mission{
        font-size: 1.5rem;
    }

    .sectionTwo .know {
        font-size: 3.5rem;
    }

    /* Section-Five starts here  */

    .sectionFive .student-heading {
        font-size: 0.9rem;
    }
}


/* Seventh Breakpoints level : 1400px (for larget screen) */

@media screen and (min-width:1400px) {
    /* header {
        padding: 0% 2%;
    } */

    .sectionTwo {
        height: 815px;
    }

    .sectionTwo .hero-container {
        top: 25%;
    }

    .hero-container .team,
    .hero-container .mission {
        font-size: 4rem;
    }

    .hero-container .know {
        font-size: 12rem;
    }

    .sectionThree {
        height: 350px;
    }

    .community-container .community span {
        display: inline-block;
        margin-top: 0.5rem;
    }

    .community p {
        padding-top: 1rem;
    }

    .sectionSix .footer-container {
        padding: 2% 7%;
    }

}