/* font-family: "Lato", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Font-famil :: MontSerrat  */
/* font-family: "Montserrat", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Color Pallate for the Website :: 
    ORANGE = #FBA834 #ff9a0b  #ff8800(On Hover)
    BLUE = #333A73
    SKYBLUE = #387ADF
    AQUA = #50C4ED
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Lato", sans-serif; */
    font-family: "Roboto", sans-serif;
}

body, html {
    max-width: 100vw;
    min-height: 100vh;
}

.section-one {
    width: 100%;
    max-height: 90px;
}

header {
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo-Section starts here  */

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper .logo {
    width: 90px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}

.school-info {
    display: flex;
    flex-direction: column;
}

.school-info .name {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.school-info .affiliate {
    margin-top: 2px;
    font-size: 0.9rem;
    color: #ff0000;
}

/* Navigation Section starts here  */

.navbar-wrapper {
    display: flex;
    align-items: center;
}

.navbar-wrapper ul {
    list-style: none;
}

.navbar-wrapper ul li {
    display: inline-block;
    position: relative;
}

.navbar-wrapper .menu-item-home {
    padding: 0.3rem 0;
}

.navbar-wrapper a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: #333a73;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-wrapper img {
    margin-top: 2px ;
}

.navbar-wrapper a:hover img {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

/* Navbar Buttons(anchor-tag) section starts here  */

.nav-btn-container {
    display: flex;
    justify-content: space-between;

}

.nav-btn-container .nav-btn {
    width: 6rem;    
    height: 3rem;
    /* background-color: rgb(255, 141, 1); */
    background-color: #ff9a0b;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5px;
}

.nav-btn:hover {
    background-color: #ff8800;
}

.nav-btn-container .logIn {
    /* background-color: rgb(33, 25, 81); */
    /* background-color: #333a73; */
    background-color: #2D1D54;
    color: #ffffff;
}

/* Menu Icons starts here  */

.menu-btn-container {
    border: 1px solid rgb(33, 25, 81);
    border-radius: 0.2rem;
    display: none;
}

.menu-close-container {
    border: 1px solid rgb(33, 25, 81);
    border-radius: 0.2rem;
    display: none;
}

.icon-box {
    width: 2rem;
    display: flex;
    align-items: center;
}

.icon-box img {
    width: 100%;
}

/* Submenu starts here  */

.submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 200px;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 3px black;
    animation: slideUp 0.3s ease;
    z-index: 999;
}  

.submenu li {
    width: 100%;
    display: flex;
}

.submenu li:hover {
    background-color: #ffbf00;
}

.submenu a {
    display: flex;
    justify-content: flex-start;
}

.submenu2 {
    position: absolute;
    width: 150px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px black;
    border-radius: 0.2rem;
    left: 100%;
    top: 0;
    display: none;
    animation: slideLeft 0.3s ease;
}

/* Show submenu on hover menu-list items  */

.menu li:hover > .submenu {
    display: block;
}

.submenu li:hover > .submenu2 {
    display: block;
}

/* submenu animations  */

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: 0;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: 0;
    }
}

/* Main Section starts here  */

/* Section two starts here  */

.sectionTwo {
    width: 100%;
    height: 529px;
    background-image: url(../Gallary/Hero/image-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-container {
    position: absolute;
    top: 18%;
    left: 8%;
}

.hero-container .description {
    color: #ffffff;
    /* text-shadow: 0px 0px 0.5px black; */
}

.hero-container .team,
.hero-container .mission {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-shadow: 0 0 1px black;
}

.hero-container .know {
    font-size: 8rem; 
    font-weight: 600;
    text-shadow: 0 0 1px black;
    font-family: "Roboto", sans-serif;
}

.hero-container .hero-button {
    margin-left: 10px;
    width: 7rem;
    height: 3rem;
    padding: 5px 3px;
    margin-top: 0.8rem;
    background-color: #ff9a0b;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}

.hero-container .hero-button a{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1rem;
}

.hero-container .hero-button:hover {
    background-color: #ff8800;
}

/* Section Three starts here  */

.sectionThree {
    width: 100%;
    height: 280px;
}

.community-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #333a73; */
    background-color: #2D1D54;
}

.community-container .community {
    width: 15%;
    height: 80%;
    border: 2px solid #9ca4e5;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.community:hover {
    box-shadow: 1px 1px 10px #9ca4e5;
}

.community-container .welcome-box{
    width: 20%;
    height: 80%;    
}

.community-container .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.community-container .logo-container i{
    font-size: 3rem;
    color: #ff9a0b;
    margin: 1rem;
}

.community-container .community span {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
}

.community-container .community .com-des {
    color: #9ca4e5;
    margin-top: 0.5rem;
}

.welcome-box .welcome {
    display: inline-block;
    color: #ff9a0b;
    margin-top: 2rem;
    font-weight: 400;
}

.welcome-box .discover{
    margin-top: 1rem;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 900;
}

/* Section Four starts here  */

.sectionFour {
    width: 100%;
    height: 550px;
    margin-top: 2rem;
    padding: 1rem;
}

.division-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.school-division {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid black;
}

.school-heading {
    font-size: 2rem;
    text-align: center;
    color: #2D1D54;
    font-weight: 600;
}

.school-heading .wel-mess {
    color: #ff9a0b;
    font-weight: 600;
}

.school-division .school-cap {
    color: #2D1D54;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}